@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.card{
  box-shadow: 4px 8px 0 rgba(0, 0, 0, .2);
  transition: .3s;
  width: 250px;
  background-color: rgba(198, 212, 246, .3);
  font-family:'Open Sans',sans-serif;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

img{
  height: 250px;
}
