@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: heavy;
  margin-top: 5px;
}

body {
  margin: 0
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}

img {width: 100%}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}
.cell {
  margin: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

img {
  width: 100%;
  height: auto;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
